.people-pagination {
  justify-content: center;
}

.person {
  display: flex;
  gap: 16px;

  img {
    width: 100px;
    height: 176px;
    object-fit: cover;
  }
}

.people {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
