#root {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--text-color);
  padding: 10px 20px;
}

nav {
  display: flex;
  gap: 16px;
}

.input-form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px 0;

  input {
    padding: 8px;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    background-color: transparent;
    color: var(--text-color);
  }
}
