#root {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

header {
  border-bottom: 1px solid var(--text-color);
}

.input-form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px 0;

  input {
    padding: 8px;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    background-color: transparent;
    color: var(--text-color);
  }
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 16px;
  font-weight: 600;
}

button {
  padding: 8px 16px;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  cursor: pointer;
}
